{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>App SEEC-PA | {{ titulo }}</title>
    <!-- loader-->
    <link href="{% static '' %}assets/css/pace.min.css" rel="stylesheet" />
    <script src="{% static '' %}assets/js/pace.min.js"></script>
    <!--favicon-->
    <link
      rel="icon"
      href="{% static '' %}assets/images/logo.ico"
      type="image/x-icon"
    />
    <!-- Vector CSS -->
    <link
      href="{% static '' %}assets/plugins/vectormap/jquery-jvectormap-2.0.2.css"
      rel="stylesheet"
    />
    <!-- simplebar CSS-->
    <link
      href="{% static '' %}assets/plugins/simplebar/css/simplebar.css"
      rel="stylesheet"
    />
    <!-- Bootstrap core CSS-->
    <link href="{% static '' %}assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link
      href="{% static '' %}assets/css/animate.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons CSS-->
    <link
      href="{% static '' %}assets/css/icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Sidebar CSS-->
    <link href="{% static '' %}assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="{% static '' %}assets/css/app-style.css" rel="stylesheet" />

    {% block estilo %}{% endblock estilo %}
  </head>

  <body class="bg-theme bg-theme1">
    <!-- Start wrapper-->
    <div class="wrapper">
        <center class="mt-5">
            <img src="{% static 'assets/images/logo.png' %}" alt="">
            <h1>Erro 500</h1>
            <h1>Falha no servidor</h1>
            <hr/>
            <p>
                <a class="btn btn-warning" href="{% url 'index' %}"><i class="fa fa-arrow-circle-left"></i> Voltar</a>
            </p>
        </center>
    </div>
    <!--End wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static '' %}assets/js/jquery.min.js"></script>
    <script src="{% static '' %}assets/js/popper.min.js"></script>
    <script src="{% static '' %}assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="{% static '' %}assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="{% static '' %}assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="{% static '' %}assets/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="{% static '' %}assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="{% static '' %}assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="{% static '' %}assets/js/index.js"></script>

    {% block script %}{% endblock %}
  </body>
</html>
