{% extends 'base.html' %}
{% load static %}

{% block titulo %}{% endblock titulo %}

{% block estilo %}{% endblock estilo %}

{% block conteudo %}
<div class="container-fluid">

    <div class="row mt-3">
      <div class="col-lg-4">
         <div class="card profile-card-2">
          <div class="card-img-block">
              <img class="img-fluid" src="{% static 'assets/images/capa.jpg' %}" alt="Card image cap">
          </div>
          <div class="card-body pt-5">
              <img src="{% static 'assets/images/user.jpg' %}" alt="profile-image" class="profile">
              <h5 class="card-title"> {{ user.first_name }} {{ user.last_name }} </h5>
              <p class="card-text">E-mail:  {{ user.email }} </p>
              <p class="card-text">Login:  {{ user.username }} </p>
              <div class="icon-block">
                <a href="javascript:void();"><i class="fa fa-facebook bg-facebook text-white"></i></a>
                <a href="javascript:void();"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
                <a href="javascript:void();"> <i class="fa fa-google-plus bg-google-plus text-white"></i></a>
              </div>
          </div>

          <!--<div class="card-body border-top border-light">
               <div class="media align-items-center">
                 <div>
                     <img src="{% static '' %}assets/images/timeline/html5.svg" class="skill-img" alt="skill img">
                 </div>
                   <div class="media-body text-left ml-3">
                     <div class="progress-wrapper">
                       <p>HTML5 <span class="float-right">65%</span></p>
                       <div class="progress" style="height: 5px;">
                        <div class="progress-bar" style="width:65%"></div>
                       </div>
                      </div>                   
                  </div>
                </div>
                <hr>
                <div class="media align-items-center">
                 <div><img src="{% static '' %}assets/images/timeline/bootstrap-4.svg" class="skill-img" alt="skill img"></div>
                   <div class="media-body text-left ml-3">
                     <div class="progress-wrapper">
                       <p>Bootstrap 4 <span class="float-right">50%</span></p>
                       <div class="progress" style="height: 5px;">
                        <div class="progress-bar" style="width:50%"></div>
                       </div>
                      </div>                   
                  </div>
                </div>
                 <hr>
                <div class="media align-items-center">
                 <div><img src="{% static '' %}assets/images/timeline/angular-icon.svg" class="skill-img" alt="skill img"></div>
                   <div class="media-body text-left ml-3">
                     <div class="progress-wrapper">
                       <p>AngularJS <span class="float-right">70%</span></p>
                       <div class="progress" style="height: 5px;">
                        <div class="progress-bar" style="width:70%"></div>
                       </div>
                      </div>                   
                  </div>
                </div>
                  <hr>
                <div class="media align-items-center">
                 <div><img src="{% static '' %}assets/images/timeline/react.svg" class="skill-img" alt="skill img"></div>
                   <div class="media-body text-left ml-3">
                     <div class="progress-wrapper">
                       <p>React JS <span class="float-right">35%</span></p>
                       <div class="progress" style="height: 5px;">
                        <div class="progress-bar" style="width:35%"></div>
                       </div>
                      </div>                   
                  </div>
                </div>
                
            </div>-->
      
        </div>

      </div>

      <div class="col-lg-8">
         <div class="card">
          <div class="card-body">
          <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
              <li class="nav-item">
                  <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Dados Gerais</span></a>
              </li>
              <li class="nav-item">
                  <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Mensagens</span></a>
              </li>
              <li class="nav-item">
                  <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Atualizar Dados</span></a>
              </li>
          </ul>
          <div class="tab-content p-3">
              <div class="tab-pane active" id="profile">
                  <h5 class="mb-3">Perfil do {{user.first_name}} </h5>
                  <div class="row">
                      <div class="col-md-6">
                          <h6>Nome Completo</h6>
                          <p>
                              {{user.first_name}} {{user.last_name}}
                          </p>
                          <h6>Login do usuário</h6>
                          <p>
                              {{user.username}}
                          </p>
                          <h6>Último acesso</h6>
                          <p>
                              {{user.last_login}}
                          </p>
                          <h6>Cadastrado em</h6>
                          <p>
                              {{user.date_joined}}
                          </p>
                      </div>
                      <div class="col-md-6">
                          <h6>Recent badges</h6>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">teologia</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">estudos</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">eangelho</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">palavra</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">curso</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">biblia</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">igreja</a>
                          <a href="javascript:void();" class="badge badge-dark badge-pill">responsive-design</a>
                          <hr>
                          <span class="badge badge-primary"><i class="fa fa-user"></i> 900 seguidores</span>
                          <span class="badge badge-success"><i class="fa fa-cog"></i> 43 recursos</span>
                          <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                      </div>
                      <div class="col-md-12">
                          <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Atividades Recentes</h5>
                           <div class="table-responsive">
                          <table class="table table-hover table-striped">
                              <tbody>                                    
                                  <tr>
                                      <td>
                                          <strong> {{user.first_name}} | </strong> Perfil alterado em  <strong> {{user.date_joined}} </strong>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <div class="tab-pane" id="messages">
                  <div class="alert alert-info alert-dismissible" role="alert">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <div class="alert-icon">
                   <i class="icon-info"></i>
                  </div>
                  <div class="alert-message">
                    <span><strong>Importante!</strong> Mensagens do Usuário.</span>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                      <tbody>                                    
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">--:--</span> Nenhuma mensagem...
                              </td>
                          </tr>

                      </tbody> 
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="edit">
                  <form>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value=" {{user.first_name}} ">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Sobrenome</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value=" {{user.last_name}} ">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="email" value=" {{user.email}} ">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Imagem de perfil</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="file">
                          </div>
                      </div>

                     
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Nome de usuário</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value=" {{user.username}} ">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Senha</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="**********">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Confirmação de senha</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="**********">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-9">
                              <input type="reset" class="btn btn-secondary" value="Cancelar">
                              <input type="button" class="btn btn-primary" value="Salvar Mudanças">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    </div>
      
  </div>

  <!--start overlay-->
        <div class="overlay toggle-menu"></div>
      <!--end overlay-->
  
  </div>
<!-- End Content-->
{% endblock conteudo %}

{% block script %}{% endblock script %}